{{>header}}

<body>
    {{>navbar}}
    <div class="relative bg-white overflow-hidden">
        <div class="pt-16 pb-80 sm:pt-24 sm:pb-40 lg:pt-8 lg:pb-48">
            <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 sm:static">
                <div class="sm:max-w-lg">
                    <h1 class="text-4xl font font-extrabold tracking-tight text-gray-900 sm:text-6xl">All Arts are
                        finally here</h1>
                    <p class="mt-4 text-xl text-gray-500">
                        Art Gallery was set up under the banner ‘Painted Art Gallery’ in 2021 and has since
                        continued to promote and exhibit talented artists from all over India. With the intention of
                        making ‘Art
                        Affordable
                        for Everybody’ and with the introduction of the new generation into the family business, the
                        gallery chose
                        to rebrand itself.
                    </p>
                    <p class="mt-4 text-xl text-gray-500">
                        Keeping in mind the growing young collector base as well as continuing relationships with all
                        earlier art
                        buyers, in 2021,
                        Art Gallery was born with a vision to enrich artist’s careers by showcasing their artworks both
                        at the local
                        and international levels.
                        Enjoy the diverse collection of original paintings and sculptures.
                    </p>
                </div>
                <div>
                    <div class="mt-10 hidden lg:block">
                        <div aria-hidden="true"
                            class="pointer-events-none lg:absolute lg:inset-y-0 lg:max-w-7xl lg:mx-auto lg:w-full">
                            <div
                                class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
                                <div class="flex items-center space-x-6 lg:space-x-8 ">
                                    <div class="flex-shrink-0 grid grid-cols-1 gap-y-6 lg:gap-y-8">
                                        <div class="w-44 h-64 rounded-lg overflow-hidden sm:opacity-0 lg:opacity-100">
                                            <img src="assets/Paintings/1.jpg" alt=""
                                                class="w-full h-full object-center object-cover">
                                        </div>
                                        <div class="w-44 h-64 rounded-lg overflow-hidden">
                                            <img src="assets/Paintings/2.jpg" alt=""
                                                class="w-full h-full object-center object-cover">
                                        </div>
                                    </div>
                                    <div class="flex-shrink-0 grid grid-cols-1 gap-y-6 lg:gap-y-8">
                                        <div class="w-44 h-64 rounded-lg overflow-hidden">
                                            <img src="assets/Paintings/3.jpg" alt=""
                                                class="w-full h-full object-center object-cover">
                                        </div>
                                        <div class="w-44 h-64 rounded-lg overflow-hidden">
                                            <img src="assets/FineArts/1.jpg" alt=""
                                                class="w-full h-full object-center object-cover">
                                        </div>
                                        <div class="w-44 h-64 rounded-lg overflow-hidden">
                                            <img src="assets/Colourful/2.jpg" alt=""
                                                class="w-full h-full object-center object-cover">
                                        </div>
                                    </div>
                                    <div class="flex-shrink-0 grid grid-cols-1 gap-y-6 lg:gap-y-8">
                                        <div class="w-44 h-64 rounded-lg overflow-hidden">
                                            <img src="assets/Colourful/2.jpg" alt=""
                                                class="w-full h-full object-center object-cover">
                                        </div>
                                        <div class="w-44 h-64 rounded-lg overflow-hidden">
                                            <img src="assets/Decorative/1.jpg" alt=""
                                                class="w-full h-full object-center object-cover">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a href="/gallery"
                            class="inline-block text-center bg-indigo-600 border border-transparent rounded-md py-3 px-8 font-medium text-white hover:bg-indigo-700">
                            Art
                            Collection</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>