{{>header}}
<body>
    {{>navbar}}
    <h1 class="heading">About Us</h1>
    <section class="about">
        <p>
            Art Gallery was set up under the banner ‘Painted Art Gallery’ in 2021 and has since 
            continued to promote and exhibit talented artists from all over India. With the intention of making ‘Art Affordable 
            for Everybody’ and with the introduction of the new generation into the family business, the gallery chose to rebrand itself.
        </p>
        <img src="assets/Paintings/3.jpg"/>
    </section>
    <section class="about">
        <img src="assets/BlackAndWhite/3.jpeg" />
        <p>
            Keeping in mind the growing young collector base as well as continuing relationships with all earlier art buyers, in 2021, 
            Art Gallery was born with a vision to enrich artist’s careers by showcasing their artworks both at the local and international levels.
            Enjoy the diverse collection of original paintings and sculptures.
        </p>
    </section>
    <footer>
        <address>
            Dosti height Apartments<br>
            Antop Hill, wadala.<br>
            Mumbai<br>
            open time: 9am to 10pm
        </address>
    </footer>
    {{>footer}}
</body>