{{>header}}

<body>
  {{>navbar}}
  <form action="/charge" method="POST" class="text-center mx-1/4">
    <div class="text-center">Email :</div><input type="email" name="imagePath" /><br />
    <div class="text-center">Name :</div><input type="text" name="name" /><br />
    <div class="text-center">Address : </div><input type="text" name="address" /><br />
    <div class="text-center">Postal code :</div><input type="number" name="postal" /><br />
    <div class="text-center">City :</div><input type="text" name="city" /><br />
    <div class="text-center">State :</div><input type="text" name="state" /><br />
    <div class="text-center">Country :</div><input type="text" name="country" /><br />
    <input type="hidden" name="price" value={{amount}} />
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{key}}"
      data-amount="{{stripeAmount}}" data-name="Art Gallery" data-description="Paintings and Arts"
      data-image="/assets/logo.jpg" data-locale="auto">
      </script>
    <script>
      // Hide default stripe button
      document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
    </script>
    <br/>
    <button type="submit" class="btn btn-outline-dark text-black btn-lg">Purchase For {{amount}}</button>
  </form>
  <script src="https://js.stripe.com/v3/"></script>
  {{!--
  <script>
    var stripe = Stripe("pk_test_51K08A5SFuW4CQ0ZGjrVDlI3t2rbE2TAq8UdOX5S3Nl9byxsLyp5ueKusql4qI6XJxPTBxfcFyTXZpPeU4Bq3RK1G00Mi436IXV");
    stripe.redirectToCheckout({ sessionId: session.id });
  </script> --}}

</body>