{{>header}}
<body>
    {{>navbar}}
    <form action="/create-checkout-session" class="" method="post">
        Email :<input type="email" name="imagePath"/><br/>
        Name :<input type="text" name="name" /><br/>
        Address : <input type="text" name="address"/><br/>
        Postal code :<input type="number" name="postal"/><br/>
        City :<input type="text" name="city"/><br/>
        State :<input type="text" name="state"/><br/>
        Country :<input type="text" name="country"/><br/>
        <input type="hidden" name="price" value={{amount}} /><br/>
        <button type="submit" class="btn btn-primary">Checkout</button><br/>
        {{!-- <script
        src="//checkout.stripe.com/v2/checkout.js"
        class="stripe-button"
        data-key={{key}}
        data-amount={{amount}}
        data-currency="usd"
        data-locale="auto" > 
        </script>  --}}
    </form>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe("pk_test_51K08A5SFuW4CQ0ZGjrVDlI3t2rbE2TAq8UdOX5S3Nl9byxsLyp5ueKusql4qI6XJxPTBxfcFyTXZpPeU4Bq3RK1G00Mi436IXV");
        stripe.redirectToCheckout({ sessionId: session.id });
    </script>

</body>