{{>header}}
<body>
    {{>navbar}}
    {{!-- <form action="/register" method="POST">
            <label for="name">Name</label>
            <input type="text" id="name" name="name"/>
            <label for="phone">Phone</label>
            <input type="text" id="phone" name="phone"/>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" />
            <label for="password">Password</label>
            <input type="password" id="password" name="password" />
            <button type="submit">Submit</button>
    </form> --}}
    <div class="signup">
        <form name="mySignupForm" action="/register" method="POST" id="signupform">
            <h1>Sign up</h1>
            <label for="name">Name</label><br>
            <input type="text" id="name" name="name" required><br><br>
            <label for="email">Email Address</label><br>
            <input type="email" id="email" name="email" required><br><br>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" required><br><br>
            {{!-- <input type="submit" value="Create Account"> --}}
            {{!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"> --}}
            <button type="submit" class="btn btn-primary">Create Account</button>
        </form>
    </div>
    {{!-- <script>
        const username = document.getElementById("name");
        const email = document.getElementById("email");
        const password = document.getElementById("password");
        const form = document.getElementById("signupform");

        form.addEventListener("submit", (e) => {
            e.preventDefault();

            const user = { name: username.value, email: email.value, password: password.value };
                document.cookie = `username=${username.value} email=${email.value} password=${password.value}`;
                console.log(user);
                window.alert(document.cookie);
        });
    </script> --}}
    {{>footer}}
</body>