{{>header}}
<body>
    {{>navbar}}
    <div class="container">
        <h1>Thanks For purchasing</h1>
        <p>You'll get your item in next 2 to 3 business days</p>
    </div>

    {{>footer}}
</body>